body{
    font-family: monospace;
    font-size: 14px;   
}
.borderbox{
    border-left: blanchedalmond 2px solid;
    border-right: blanchedalmond 2px solid;
}
.my_black{
    color: black;
    font-weight: bold;
}

/* */
.title_01{
    text-align: center;
    margin-bottom: 25px;
    font-family:monospace;
    background-color:blanchedalmond;
    color:crimson;
}

.lead{
    color:crimson;
    font-family: microsoft yahei light;
}

.one_footer .lead{
    color: teal;
    font-size: 13px;
    text-align: center;
    color: rgb(10, 10, 10);
    font-family: microsoft yahei;
    padding: 10px;
    border-top: royalblue 2px solid;
    border-bottom: royalblue 2px solid;
}


.name{
    margin: 4px;
    text-align: right;
    font-size: 10px;
    font-family: arial;
}